{% extends 'base.html' %}
{% load static %}
{% block content %}

    <!-- Start Banner Hero -->
    <div id="template-mo-zay-hero-carousel" class="carousel slide" data-bs-ride="carousel">
        <ol class="carousel-indicators">
            <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="0" class="active"></li>
            <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="1"></li>
            <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container">
                    <div class="row p-5">
                        <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                            <a href="https://www3.animeflv.net/anime/pokemon"><img class="img-fluid" src={% static "img/banner_img_01.jpg" %} alt=""></a>
                        </div>
                        <div class="col-lg-6 mb-0 d-flex align-items-center">
                            <div class="text-align-left align-self-center">
                                <p>
                                    La serie de animé japonesa POKÉMON sigue las aventuras de Ash, sus amigos 
                                    y su grupo de criaturas lindas y sumamente hábiles que luchan en torneos 
                                    en su nombre. Ash viaja a través de tierras remotas y misteriosas y trabaja 
                                    duro para convertirse en un experto entrenador Pokémon.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <div class="row p-5">
                        <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                            <a href="https://www3.animeflv.net/anime/dragon-ball-super"><img class="img-fluid" src={% static "img/banner_img_02.jpg" %} alt=""></a>
                        </div>
                        <div class="col-lg-6 mb-0 d-flex align-items-center">
                            <div class="text-align-left">
                                Su trama describe las aventuras de Gokū, un guerrero saiyajin 
                                experto en artes marciales, diez años después de la derrota 
                                de Majin Boo. En su travesía pone a prueba y mejora sus 
                                habilidades de pelea, enfrentando oponentes y protegiendo a la
                                Tierra de los seres que quieren conquistarla y exterminar a la humanidad.
                                <p>
                                
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <div class="row p-5">
                        <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                        <a href="https://www3.animeflv.net/anime/naruto">  <img class="img-fluid" src={% static "img/banner_img_03.jpg" %} alt=""></a>
                        </div>
                        <div class="col-lg-6 mb-0 d-flex align-items-center">
                            <div class="text-align-left">
                                <p>
                                    Naruto es una serie de manga escrita e ilustrada por Masashi Kishimoto.
                                    La obra narra la historia de un ninja adolescente llamado Naruto Uzumaki,
                                    quien aspira a convertirse en Hokage, líder de su aldea, con el propósito 
                                    de ser reconocido como alguien importante dentro de la aldea y entre sus compañeros.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev text-decoration-none w-auto ps-3" href="#template-mo-zay-hero-carousel" role="button" data-bs-slide="prev">
            <i class="fas fa-chevron-left"></i>
        </a>
        <a class="carousel-control-next text-decoration-none w-auto pe-3" href="#template-mo-zay-hero-carousel" role="button" data-bs-slide="next">
            <i class="fas fa-chevron-right"></i>
        </a>
    </div>
    <!-- End Banner Hero -->


    <!-- Start Categories of The Month -->
    <section class="container py-5">
        <div class="row text-center pt-3">
            <div class="col-lg-6 m-auto">
                <h1 class="text-center">Animes más populares a nivel mundial a fecha de enero de 2024</h1>
                <p class='mt-5'>
                    Cada vez es mayor el interés que generan en el mundo los diferentes productos relacionados con la industria japonesa de animación.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-4 p-5 mt-3">
                <a href="#"><img src={% static "img/fullmetal.png" %} class="rounded-circle img-fluid border"></a>
                <h5 class="text-center mt-3 mb-3">Full Metal Alchemist</h5>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-success " data-toggle="modal" data-target="#exampleModal">
            Descripcion
        </button>
  
         <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Full Metal Alchemist</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <div class="modal-body">
                    <p>
                        Creador: Hiromu Arakawa 
                        <br>Fecha de Creación: 12 de julio de 2001.
                        <br>Editorial: Square Enix 
                        <br>Breve Sinopsis

                        La historia se centra en los hermanos Edward y Alphonse Elric, quienes viven en un pequeño pueblo de un país ficticio llamado Amestris.9​ Su padre, Hohenheim, se marchó de casa cuando eran pequeños y años más tarde su madre, Trisha Elric, muere por una enfermedad terminal, dejándolos solos. 

                        <br> <br>Después de la muerte de su madre, Edward decide resucitarla a través de la alquimia,24​ una de las técnicas científicas más avanzadas conocidas por el hombre. Sin embargo, el intento resulta fallido y como consecuencia Edward pierde su pierna izquierda y Alphonse, su cuerpo. 

                        <br> <br>En un esfuerzo por salvar a su hermano, Edward sacrifica su brazo derecho para sellar el alma de Alphonse en una armadura.<br><br>
                    </p>
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <a href="https://jkanime.net/fullmetal-alchemist-brotherhood/"><button type="button" class="btn btn-primary">Ver</button></a>
                    </div>
                </div>
                </div>
            </div>

            </div>
            <div class="col-12 col-md-4 p-5 mt-3">
                <a href="#"><img src={% static "img/stein.png" %} class="rounded-circle img-fluid border"></a>
                <h2 class="h5 text-center mt-3 mb-3">Stein Gate</h2>
                        <!-- Button trigger modal -->
                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal2">
                    Descripcion
                </button>
            
            <!-- Modal -->
            <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2" aria-hidden="true">
                <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Stein Gate</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <div class="modal-body">
                    <p>
                        Creador: Sarachi Yomi
                        <br>Fecha de Creación: 26 de septiembre de 2009.
                        <br>Editorial: Media Factory
                        <br>Breve Sinopsis

                        <br> <br> La historia gira en torno a Rintaro Okabe que, junto a sus amigos Mayuri Shiina e Itaru Hashida, descubre que ha creado por accidente una máquina capaz de enviar mensajes al pasado. Mientras investigan este fenómeno, se topan con la joven y prodigiosa Kurisu Makise, y juntos descubren la verdad tras una conspiración mundial llevada por una organización secreta.

                    </p>
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <a href="https://jkanime.net/steins-gate/"><button type="button" class="btn btn-primary">Ver</button></a>
                    </div>
                </div>
                </div>
            </div>
            </div>
            <div class="col-12 col-md-4 p-5 mt-3">
                <a href="#"><img src={% static "img/titanes.png" %} class="rounded-circle img-fluid border"></a>
                <h2 class="h5 text-center mt-3 mb-3">Shingeki no Kyojin</h2>
                
                 <!-- Button trigger modal -->
            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal3">
                Descripcion
            </button>
            
            <!-- Modal -->
            <div class="modal fade" id="exampleModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel3" aria-hidden="true">
                <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Shingeki no Kyojin</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <div class="modal-body">
                    <p>
                        Creador: Hajime Isayama
                        <br>Fecha de Creación: 9 de septiembre de 2009.
                        <br>Editorial: Kōdansha
                        <br>Breve Sinopsis

                        <br><br>La historia se desarrolla en un mundo ficticio en el que la humanidad está al borde de la extinción a causa de unas criaturas humanoides llamadas «titanes», lo que obliga a los supervivientes a refugiarse en tres enormes murallas que impiden el acceso a dichos monstruos.

                        <br><br>La trama gira en torno a Eren Jaeger quien después de perder a su madre a manos de los titanes, decide unirse al «Ejército de las murallas» junto a Mikasa Ackerman y Armin Arlert con el objetivo de vengar la muerte de su madre y destruir a los titanes.

                        <br><br> Más adelante, descubre que tiene el poder de transformarse en un titán con características especiales, lo que desencadenará toda una serie de acontecimientos.

                    </p>
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <a href="https://jkanime.net/shingeki-no-kyojin/"><button type="button" class="btn btn-primary">Ver</button></a>
                    </div>
                </div>
                </div>
            </div>
            </div>

            </div>
        </div>
    </section>
    <!-- End Categories of The Month -->

{% endblock %}    